.aca-button {
    @include floating-border;

    outline: none;
    cursor: pointer;
    position: relative;
    padding: 5px 12px;
    font-size: #{$default-font-size}px;
    background-color: $main-backgroud;

    &:active {
        @include sinking-border;

        background-color: $main-backgroud-hover;
    }

    &:active::before {
        @include set-position($top: 3, $left: 3, $right: 3, $bottom: 3);

        content: "";
        position: absolute;
        border: dotted 1px black;
    }
}

.aca-button-link {
    border: 0;
    padding: 5px;
    outline: none;
    cursor: pointer;
    position: relative;
    color: $main-color;
    text-decoration: none;
    background-color: Transparent;
    font-size: #{$default-font-size}px;

    &:active::after {
        @include set-position($top: 3, $left: 5, $right: 5, $bottom: 3);

        content: "";
        position: absolute;
        border: dotted 1px black;
    }
}

.aca-button.suggestion::after {
    @include set-position($top: -2, $left: -2, $right: -3, $bottom: -3);

    content: "";
    position: absolute;
    border: ridge 1px black;
}

.aca-button.full-width {
    width: 100%;
}