.aca-text-field {
    @include input-border;
    @include border-box-full-width;

    outline: none;
    padding: 5px 7px;
    font-size: #{$default-font-size}px;
}

.aca-select {
    @include input-border;

    appearance: none;
    outline: none;
    padding: 5px 7px;
    padding-right: 50px;
    border-radius: 0;
    text-overflow: '';
    text-indent: 0.01px;
    font-size: #{$default-font-size}px;
    background: url(img/dropdown-icon.png) white no-repeat 100% 0;
    background-size: 23px;
}

input.aca-checkbox {
    @include input-border;

    width: 17px;
    height: 17px;
    appearance: none;
    display: inline-block;
    position: relative;
    outline: none;
    border-radius: 0;
    background-color: white;

    &:checked {
        background: url(img/checkmark.png) no-repeat 0 1px;
        background-size: 14px;
    }
}

input.aca-radio {
    @include input-border;

    width: 20px;
    height: 20px;
    appearance: none;
    display: inline-block;
    position: relative;
    outline: none;
    border-radius: 100%;
    background-color: white;

    &:checked:after {
        @include set-position($top: 4, $left: 4);

        content: '';
        position: absolute;
        width: 8px;
        height: 8px;
        border-radius: 100%;
        background: black;
    }
}
