.aca-panel {
    @include floating-border;

    width: 100%;

    & > .header {
        @include border-box-full-width;

        color: white;
        padding: 5px 10px;
        font-weight: bold;
        background: linear-gradient(90deg, $main-color, #AACAF4);
    }

    & > .body {
        @include clearfix;
        @include border-box-full-width;

        padding: 20px;
        background: $main-backgroud;
    }

    & > .body > .footer {
        padding-top: 10px;
        float: right;
    }
}