.aca-progress {
    width: calc(100% - 4px);
    height: 25px;
    padding: 2px;
    background: $main-backgroud;

    @include sinking-border;
}

.aca-progress > .aca-progress-bar {
    height: 25px;
    transition: 0.5s;
    background: $main-color;
}