.aca-progress {
    width: 100%;
    height: 30px;
    border-top: ridge 1px black;
    border-left: ridge 1px black;
    border-bottom: ridge 2px white;
    border-right: ridge 2px white;
}

.aca-progress.aca-progress-bar {
    
}