$progress-height: 25;
$progress-padding: 2;

.aca-progress {
    @include border-box-full-width;
    @include sinking-border;

    height: #{$progress-height}px;
    padding: #{$progress-padding}px;
    background: $main-backgroud;

    & > .aca-progress-bar {
        // NOTE: hight - padding * 2 (top & bottom) - 3 (border size)
        height: #{$progress-height - $progress-padding * 2 - 3}px;
        transition: 0.5s;
        background: $main-color;
    }
}

