@mixin floating-border {
    border-top: ridge 1px white;
    border-left: ridge 1px white;
    border-bottom: ridge 2px black;
    border-right: ridge 2px black;
}

@mixin sinking-border {
    border-top: ridge 1px black;
    border-left: ridge 1px black;
    border-bottom: ridge 2px white;
    border-right: ridge 2px white;
}

@mixin input-border {
    border-top: ridge 2px black;
    border-left: ridge 2px black;
    border-bottom: ridge 2px white;
    border-right: ridge 2px white;
}

@mixin border-box-full-width {
    box-sizing: border-box;
    width: 100%;
}

@mixin set-position($top: 0, $left: 0, $right: 0, $bottom: 0) {
    top: #{$top}px;
    left: #{$left}px;
    right: #{$right}px;
    bottom: #{$bottom}px;
}

@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}